body {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  color: #4f95be;
  font-weight: bold;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #4f95be;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.result {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
}

.result p {
  margin: 10px 0;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

  form {
    padding: 10px;
  }

  .result {
    padding: 10px;
  }
}
